.button-wrapper {
    width: 100%;
}
.export-button{
    width: 100%;
}
.filter-button {
    width: 100%;
    color: #b0adab;
    border-color: #b0adab;
}
.filter-button div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.filter-button-active {
    background-color: #fff7e5;
    border-color: #ffb100;
    color: #ffb100;
}
.data-table{
    padding-top: 2%; 
    padding-bottom: 2%; 
    max-height: 500px; 
    overflow-y: auto;
}
.loading-height{
    height:6rem;
}