h1 {
    font-size: xx-large;
}
.button-height{
    height:5rem;
}
.table-border{
    padding: 30px;
}
.slds-modal__container {
    height : auto;  
    max-width: 80rem !important;
    width: 80% !important;
}

.button-wrapper {
    width: 100%;
    /*display: flex;    
    justify-content: space-between;*/
}
.filter-button {
    /*min-width: 160px;*/
    width: 100%;
    color: #b0adab;
    border-color: #b0adab;
}
.filter-button div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.filter-button-active {
    background-color: #fff7e5;
    border-color: #ffb100;
    color: #ffb100;
}
/*c-rma-view .slds-vertical-tabs__nav-item.slds-is-active .slds-vertical-tabs__link,
c-rma-view .slds-vertical-tabs__nav-item.slds-is-active .slds-vertical-tabs__link:hover {    
    color: #000;
    font-weight: bolder;
}
c-rma-view .slds-vertical-tabs__nav-item.slds-has-focus {
    text-decoration: none !important;
}
c-rma-view .slds-vertical-tabs__nav {
    min-height: 70vh;
}
/*c-rma-view lightning-tab-bar ul {
    min-height: 70vh !important;
}*/
/*c-rma-view .slds-vertical-tabs__nav-item.slds-is-active {    
    color: #000 !important;
}

c-rma-view .field-value {
    font-weight: bolder;
}
c-rma-view .vertical-nav a {
    text-decoration: none !important;
    color: #000 !important;
}*/